<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'edit.css' %}">
    <title>Edit Page</title>
</head>
<body>
    <div>
        <form action="/show">
            <input type="submit" value="Show Records">
        </form>
    </div>

    <div id="DivOne">
        <form action="/RecordEdited" method="post">
            {% csrf_token %}
            <h3>ID <input required autofocus type="text" name="id" id="id" value="{{ID}}"></h3>
            <h3>Data 1 <input type="text" name="data1" value="{{data1}}"></h3>
            <h3>Data 2 <input type="text" name="data2" value="{{data2}}"></h3>
            <input type="submit" id="btn" value="Edit Record">
        </form>
        <span>{{msg}}</span>
    </div>
</body>
</html>