<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SearchingEmp.css' %}">
    <title>Employee Search</title>
</head>
<body>
<a href="/">Home</a>
    <div id="DivID">
        <form action="/EmpData">
            <h2>Enter Some Data <input type="text" name="data">&nbsp;<input type="Submit"></h2>
        </form>
    </div>
    <form action="/ViewEmpData">
        <input type="Submit" value="View Employee Data">
    </form>

    
    {% for data in Info %}
        {{data.Employee_ID}}
        {{data.Name}}
        {{data.Age}}
        {{data.Phone}}
        {{data.City}} <br>
    {% endfor %}
</body>
</html>