<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewEmpData</title>
</head>
<body>
    {% for data in EmpData %}
        <span>{{data.Employee_ID}}</span>
        <span>{{data.Name}}</span>
        <span>{{data.Age}}</span>
        <span>{{data.Phone}}</span>
        <span>{{data.City}}</span><br>
    {% endfor %}
<hr>
    {% for data in Age %}
        <span>{{data.Employee_ID}}</span>
        <span>{{data.Name}}</span>
        <span>{{data.Age}}</span>
        <span>{{data.Phone}}</span>
        <span>{{data.City}}</span><br>
    {% endfor %}

    
</body>
</html>