<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Bulb.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <img src="{% static 'image/OFF.jpg' %}" alt="No Image">
        <form action="/OnBulb" method="post">
            {% csrf_token %}
            <input type="Submit" value="On Bulb" id="btn">
        </form>
    </div>
</body>
</html>